.achivements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.achivements img {
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
